*,
*::before,
*::after{
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
img, video {
  display: block;
  max-width: 100%;
}

body{
  color: white;
  font-family: 'Segoe UI', 'Roboto', Oxygen, 'Ubuntu', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  font-size: 16px;

}
.hero-page{
  background-image: radial-gradient( rgba(23, 22, 22, 0.306), rgba(0, 0, 0, 0.945)), url('images/NG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
   

}
.top-bar{
  display: flex;
  justify-content: space-between;

}
.logo{
  width: 150px;
  margin-left: 40px;

}
.sign{
  text-decoration: none;
  color: white;
  background-color: rgb(229, 9, 20);
  height: 35px;
  padding: 7px 17px;
  border-radius: 3px;
  margin-top: 25px;
  margin-right: 40px;
}
.content1{
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 110px;
}
.content1 h1{
  font-weight: bolder;
  font-size: 50px;
  line-height: 1.1;

}
.content1 h2{
  font-weight: normal;
  font-size: 28px;
  padding-top: 3px;
}
.content1 h3{
  font-size: 20px;
  font-weight: normal;
}
.hero-input{
  width: 400px;
  padding: 10px 20px;
  font-weight: bold;
  height: 35px;
  border: 1px solid rgb(113, 112, 112);
  border-radius: 2px;
  height: 57px;
  margin-top: 10px;
  
}
.email-input a{
  border: none;
  color: white;
  background-color: rgb(229, 9, 20);
  padding: 10px 20px;
  text-decoration: none;
  margin-left: -3.5px;
  border-radius: 2px;
  font-size: 26px;
  padding-top: 4.5px;
  padding-bottom: 18px;
  
}
.email-input a:hover{
  background-color: red;
}
.email-input{
  padding-bottom: 150px;
}
hr{
  padding: 4px;
  background-color: rgb(40, 40, 40);
  border: none;
  width: 100%;
}
.content2{
  display: flex;
  padding:40px 50px ;
}

.content2-text{
  width: 600px;
  margin-top: 70px;
  margin-left: 40px;
 
}
h1{
  font-size: 50px;
  margin-bottom: 8px;
  line-height: 1.1;
  font-weight:600;
}
h2{
  font-size: 26px;
  font-weight: normal;
}
.content2-image{
  position: relative;
  padding-left: 50px;
}
.tv{
  
  width: 90%;
  position: relative;
  top: 0;
  left: 0;
  
}
video{
  width:350px;
  height:200px;
  position: absolute;
  top: 76px;
  left: 120px;
  
}
.content3{
  display: flex;
}
.content3-image{
  position: relative;
  bottom: 0;
  left: 0;
}
.strange{
  width: 500px;
  position: relative;
  bottom : 0;
  left: 0;

}
.boxshot{
  display: flex;
  background-color: black;
  position: absolute;
  border: 2px solid rgb(84, 84, 84);
  border-radius: 10px;
  position: absolute;
  padding: 10px;
  bottom: 30px;
  left: 90px;
  width: 60%;

}
.boxshot-image{
  width: 50px;
}
.boxshot span{
  color: rgb(0, 113, 235);
  font-weight: normal;
}
p{
  font-weight: bold;
  padding-left: 10px;
  padding-right: 30px;
}
.gif{
  width: 48px;
  padding-left: 30px;
}
.content3-text{
  width: 550px;
  margin-top: 55px;
  margin-left: 100px;
}
.content4-text{
  width: 500px;
  margin-left: 60px;
  margin-bottom: 40px;
}
.content5{
  display: flex;
}
.content5-image img{
 width: 500px;
 margin: 70px;
}
.content5-text{
  width: 530px;
  margin-top: 110px;
  padding: 20px;
}
.FAQ h1{
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.FAQ-container{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items:  center;
  /*background-color: rgb(48, 48, 48) ;*/
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}
.accordion-item{
  background-color: black;
  margin-bottom: 1px;
  padding: 3px;
}
.accordian-link{
font-size: 25px;
color: white;
text-decoration: none;
background-color:rgb(48, 48, 48) ;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 14px 10px;
}

.accordian-link i{
  padding: 8px;
  color: white;


}
.accordian-link .ion-md-close{
  display: none;
}
.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: 650ms;
  background-color: rgb(48, 48, 48);
  margin-top: 2px;
}
.answer::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 90%;
  top: 50px;
  left: 0;
}
.answer p{
  font-size: 25px;
  font-weight: 400;
  padding: 10px;
}
.accordion-item:target .answer{
  max-height: 320px;
}
.accordion-item:target .accordian-link .ion-md-add{
  display: none;
}
.accordion-item:target .accordian-link .ion-md-close {
  display: block;
}

.bottom-input{
margin-left: 300px;
margin-top: 50px;
}
.bottom-input h3{
  font-weight: 400;
}
.last{
  margin-top: 50px;
}
.last a{
  text-decoration: none;
  color: rgb(120, 119, 119);
  font-size: 14px;
  line-height: 2.5;
}
.links{
  display: flex;
 margin-left: 120px;
}
.link1{
  margin-left: 160px;
  }
.links ul{
  list-style-type: none;
  padding-right: 60px;
}
.last p{
  font-size: 14px;
  font-weight: 400;
  color:rgb(120, 119, 119) ;
  padding-left: 160px ;
}
.links ul li a:hover{
  text-decoration:underline;
}
.link1:hover{
   text-decoration:underline;
}
/*media-queries*/
@media only screen and (max-width: 700px){
  .logo{width: 75px;
    margin-left: 20px;
    margin-top: 10px;

  }
  .hero-page{
    max-width: 100%;
    max-height: 100%;
  }
 
    .sign {
      text-decoration: none;
      color: white;
      background-color: rgb(229, 9, 20);
      height: 25px;
      padding: 5px 8.5px;
      border-radius: 1.5px;
      margin-top: 20px;
      margin-right: 20px;
      font-size: 0.7rem;
     
      
}
.content1 {
  max-width: 400px;
  padding-top: 55px;
  line-height: 1.3;
}
.content1 h1 {
  font-weight: bolder;
  font-size: 25px;
  padding: 0 15px;

}

.content1 h2 {
  font-weight: normal;
  font-size: 14px;
  padding-top: 3px;
 
}

.content1 h3 {
  font-size: 14px;
  padding: 10px 10px 5px 10px;
  
}
.hero-input {
  width: 90%;
  padding: 10px 10px;
  font-weight: normal;
  height: 40px;
  margin: 10px;
  

}
.email-input a {
  background-color: rgb(229, 9, 20);
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 14px;
  


}
hr {
  padding: 3px;
  width: 100%;
 
}
.content2 {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 70px 10px;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  
}
.content2-text{
    width: 100%;
      margin-top: 20px;
      margin-left: 20px;
      padding-right: 25px;
}
h1{
    font-size: 25px;
      margin-bottom: 4px;
      line-height: 1.1;
      font-weight: 600;
      text-align: center;
    }
h2 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
 
 
}
.content2-image {
  position: relative;

}

.tv {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

video {
      position: absolute;
      top: -1px;
      left: 90px;
      width: 220px;
      height: 220px;
}
.content3 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.content3-text {
 width: 95%;
  margin-top: 25px;
  margin-left: 50px;
  padding: 2px 10px;
  margin-right: 50px;
}
.content3-text h2{
  font-size: 1rem;
  text-align: center;
}


.content3-image {
  position: relative;
  bottom: 0;
  left: 0;
}

.strange {
  width: 225px;
  position: relative;
  bottom: 0;
  left: 0;

}

.boxshot {
  display: flex;
  background-color: black;
  position: absolute;
  border: 2px solid rgb(84, 84, 84);
  border-radius: 10px;
  position: absolute;
  padding: 10px;
  bottom: 10px;
  left: 30px;
  width: 80%;

}

.boxshot-image {
  width: 20px;
}

.boxshot span {
  color: rgb(0, 113, 235);
  font-weight: normal;
}

p {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 12px;
}

.gif {
  width: 24px;
  padding-left: 15px;
}
.content4-text {
  width: 95%;
  margin-left: 25px;
  margin-bottom: 40px;
  padding-right: 25px;
  padding-top: 20px;
}
.content5 {
  display: flex;
  flex-direction: column-reverse;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.content5-image img {
  width: 250px;
  margin: 35px;
}

.content5-text {
  width: 90%;
  margin-top: 20px;
  padding: 20px;
}
.FAQ h1 {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 25px;
    line-height: 1.1;
    font-weight: 600;
}

.FAQ-container {
  width: 100%;
  padding: 0 24px;
}

.accordian-link {
  font-size: 20px;
  width: 100%;
   padding: 14px 10px;
}

.answer p {
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}
.bottom-input {
  margin-left: 20px;
  margin-top: 50px;
  width: 90%;
  padding-right: 20px;
  margin-bottom: -70px;
}

.bottom-input h3 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;

}
.bottom-input .email-input a{
      margin-left: 120px;
      font-size: 13px;
      padding-top: 2px;
      padding-bottom: 9px;
      
      width: 28%;
      
}
.last {
  margin-top: 30px;
  width: 90%;
  
}

.last a {
  text-decoration: none;
  color: rgb(120, 119, 119);
  font-size: 14px;
  line-height: 2.5;
}

.links {
  display: flex;
  margin-left: -15px;
  width: 90%;
  
 
  
}

.link1 {
  margin-left: 25px;
 
  
}

.links ul li a {
 font-size: 12px;





}
.links ul{
padding-right: 0px;
 

}

.last p {
  padding-left: 28px;
}

}
